.hds1{

    height: 51px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;

    }

.hds2{

    display:flex;
    align-items: center;
    justify-content: space-between;
    text-align:center;

}